function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 1
neg
pop local 2
label lbl_0_lbl
push local 2
not
if-goto lbl_1_lbl
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
not
if-goto lbl_2_lbl
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto lbl_3_lbl
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto lbl_4_lbl
label lbl_3_lbl
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label lbl_4_lbl
goto lbl_5_lbl
label lbl_2_lbl
push constant 0
pop local 2
label lbl_5_lbl
goto lbl_0_lbl
label lbl_1_lbl
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto lbl_6_lbl
push constant 1
return
goto lbl_7_lbl
label lbl_6_lbl
push argument 0
push constant 2
call Math.multiply 2
return
label lbl_7_lbl
function Main.fillMemory 0
label lbl_8_lbl
push argument 1
push constant 0
gt
not
if-goto lbl_9_lbl
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto lbl_8_lbl
label lbl_9_lbl
push constant 0
return
